src/test/resources/minecraft-1.16.1.jar
.gradle/
.idea/
build/
!src/test/resources/dummyResource
out/
testdata/
src/test/resources/mclibs/*
src/test/resources/minecraft-1.16.1/*
src/test/resources/yarn-1.16.1+build.5-v2.tiny